.dropdownContainer {
    position: relative;
}
.dropdown {
    position: absolute;
    z-index: 100;
    top: calc(100% + 0.5rem);
    background-color: white;
    border-radius: var(--radius);
    box-shadow: var(--small-shadow);
    cursor: pointer;
    top: 100%;
    margin-top: 0.5em;
    transition: transform 0.2s, opacity 0.2s;
    transform-origin: top right;
    right: 0;
    color: #111;
}
.dropdown.leftOrigin {
    transform-origin: top left;
    right: auto;
    left: 0;
}
.dropdown.rightOrigin {
    transform-origin: top right;
    right: 0;
    left: auto;
}
.dropdown ul {
    list-style-type: none;
    margin: 0; padding: 0;
}
.dropdown li {
    padding: 0.5rem 2rem 0.5rem 1rem;
    min-width: 140px;
}
.dropdown li:nth-child(1) {
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}
.dropdown li:nth-last-child(1) {
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}
.dropdown li:hover {
    background-color: #eee;
}

.dropdown.hasIcons .dropdownIcon{
    width: 1.7rem;
    display: inline-block;
}

.dropdown li.disabled {
    background-color: #eee;
    color: #999;
    cursor: default;
}