.editor {
    display: block;
    flex: 1;
    padding: 3rem;
    font: 17px "Times New Roman";   
    line-height: 1.3;
    overflow-y: scroll;
    max-height: 73vh;
    overflow-wrap: break-word;
}

.editor div {
    display: block;
}

@media only screen and (max-width: 800px) {
    .editor {
        padding: 1rem;
    }
}

.editor:focus {
    outline: none;
}

.editor attachment {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    resize: both;
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    max-width: 100%;
    margin: 6px;
}

.editor:focus attachment {
    border: 1px solid #d5e0e5;
    background-color: #edf9ff;
    border-radius: 1px;
    margin: 5px;
}

.droptext {
    width: calc(var(--document-width) - 3rem - 3rem);
    margin: 1.5 rem auto 1.5 rem auto;
    display: none;
    justify-content: space-between;
    margin-bottom: -10px;
}

.mathTools {
    display: none;
    width: calc(30px * 3 + 5px);
    height: 32px;
    position: absolute;
    margin-top: 1px;
}

.mathTools ul {
    list-style: none;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.mathTools ul li {
    position: relative;
    background-color: #edf9ff;
    border-radius: 1px;
    width: 30px;
    height: 30px;
    margin: 0px;
    padding: 0px;
    display: block;
    float: left;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.226);
    text-align: center;
    justify-content: center;
    line-height: 30px;
    transition: margin-top 0.2s, z-index 0.2s;
    z-index: 8;
    cursor: pointer;
}

.mathTools ul li:hover {
    margin-top: 1px;
    z-index: 10;
}

.mathTools ul li svg {
    color: #709AC0;
}

.editor img {
    height: 100%;
    width: auto;
    outline: none;
    margin: 1px;
}
.editor:focus img {
    border: 1px solid #d5e0e5;
    margin: 0px;
    background-color: #edf9ff;
    border-radius: 1px;
}

.mathContainer.open + br {
    display: none;
}

.mathContainer span {
    display: inline-block;
}
.mathImage {
    display: inline-block;
}