.equationSidebar {
    position: -webkit-sticky;
    position: sticky;top: 0;
    height: 500px;
}
.symbolGroup {
    margin-bottom: 1rem;
    overflow: hidden;
    transition: max-height 0.1s ease-in;
}
.symbolGroup h3 {
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.5);
    display: block;
    text-transform: uppercase;
    margin: 0;
}
.symbols {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: auto;
    gap: 0.2rem;
    margin-top: 0.5rem;
}
.symbols div {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    aspect-ratio: 1/1;
    box-shadow: var(--small-shadow);
    border-radius: var(--radius);
    cursor: pointer;
    transition: background-color .05s ease-out;
    position: relative;
}

.symbols div:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.symbols div img {
    position: absolute;
    width: 70%;
    height: 70%;
    object-fit: contain;
}

.symbols div:hover {
    background-color: #f6f8f9;
}

.mobileToolbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    border-top: 1px solid #f6f8f9;
    padding: 1rem;
}