:root {
  --radius: 5px;
  --shadow: 0 3px 30px rgba(0, 0, 0, 0.1);
  --small-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
}

body, button {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


::selection {
  background: #a9c0cc;
}
