

body {
    background-color: #edf9ff;
    color: rgba(0,0,0,0.9);
    --document-width: 850px;
}

.app {
    display: flex;
}

.document {
    flex: 1;
    padding: 0 1.5rem;
}

.document .head {
    width: calc(var(--document-width) - 50px - 50px);
    
    margin: 1.5rem auto 1.5rem auto;
}
.document .head h2 {
    font-size: 1.5em;
    margin: 0;
    position: relative;
    display: inline-block;
    line-height: 3rem;
}
.document .head h2:focus {
    outline: none;
}
.document .head h2::after, .document .head h2::after {
    transition: border-color 0.2s, background-color 0.2s, opacity 0.2s;
    opacity: 0;
}
.document .head h2:hover::after, .document .head h2:focus::after {
    content: ' ';
    position: absolute; 
    top: 0;
    left: -10px;
    width: calc(100% + 20px);
    height: 100%;
    border: 1px solid #d5e0e5;
    background-color: rgba(255,255,255,1);
    border-radius: 3px;
    z-index: -5;
    opacity: 0.5;
    box-shadow: var(--small-shadow);
}
.document .head h2:focus::after {
    opacity: 1;
}
.page {
    background-color: white;
    margin: 1rem auto;
    width: var(--document-width);
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    display: flex;
}

@media only screen and (max-width: 1240px) {
    .page, .document .head {
        width: 600px;
    }
}
@media only screen and (max-width: 1030px) {
    .page, .document .head {
        width: 500px;
    }
}
@media only screen and (max-width: 940px) {
    .page, .document .head {
        width: 400px;
    }
}

.page:focus {
    outline: none;
}

.page::before {
    content: " ";
    width: 1px;
    margin-left: -1px;
    float: left;
    height: 0;
    padding-top: 141%;
    /* A4 aspect ratio */
}

.page::after {
    content: "";
    display: table;
    clear: both;
}

.navigation {
    width: calc(100% - 4rem);
    background-color: white;
    padding: 1rem 2rem;
    box-shadow: var(--small-shadow);
}
.navigation img {
    height: 1rem;
}