html {
    overflow: hidden;
}

body {
    background-color: #edf9ff;
    color: rgba(0,0,0,0.9);
    --document-width: 100%;
}

.app {
    display: flex;
}

.document {
    flex: 1;
    padding: 0;
    overflow-x: scroll;
}

.document .head {
    width: calc(var(--document-width) - 3rem - 3rem);
    margin: 1.5rem auto 1.5rem auto;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 800px) {
    .document .head {
        width: calc(var(--document-width) - 1rem - 1rem);
        margin-top: 1rem;
    }
}

.document .head h2 {
    font-size: 1.5em;
    margin: 0;
    position: relative;
    display: inline-block;
    line-height: 3rem;
    transition: line-height 0.15s;
}

.document .head h2.slimmer {
    line-height: 2rem;
}
.document .head h2:focus {
    outline: none;
}
.document .head h2::after, .document .head h2::after {
    transition: border-color 0.2s, background-color 0.2s, opacity 0.2s;
    opacity: 0;
}
.document .head h2:hover::after, .document .head h2:focus::after {
    content: ' ';
    position: absolute; 
    top: 0;
    left: -10px;
    width: calc(100% + 20px);
    height: 100%;
    border: 1px solid #d5e0e5;
    background-color: rgba(255,255,255,1);
    border-radius: 3px;
    z-index: -5;
    opacity: 0.5;
    box-shadow: var(--small-shadow);
}
.document .head h2:focus::after {
    opacity: 1;
}

.document .head .headSecondary {
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.document .head .saveIndicator {
    border: 4px solid #d5e0e5;
    border-top: 4px solid #2FA3CF;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 15px;
    animation: fullSpin 2.2s linear infinite;
}
.document .head .savedIndicator {
    margin-right: 15px;
    width: 28px;
    height: 28px;
}
.document .head .savedIndicator:before {
    content: '\2713';
    display: inline-block;
    font-size: 30px;
    margin-top: -5px;
    color: #2FA3CF;
    font-weight: 600;
    padding: 0 6px 0 0;
} 
  
@keyframes fullSpin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.document .head p {
    margin-right: 5px;
}

.page {
    background-color: white;
    margin: 1rem auto;
    width: var(--document-width);
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    display: flex;
}

.page:focus {
    outline: none;
}

.page::before {
    content: " ";
    width: 1px;
    margin-left: -1px;
    float: left;
    height: 0;
    padding-top: 141%;
    /* A4 aspect ratio */
}

.page::after {
    content: "";
    display: table;
    clear: both;
}

.navigation {
    width: calc(100% - 3rem);
    background-color: white;
    padding: 1rem 1.5rem;
    box-shadow: var(--small-shadow);
    display: flex;
    justify-content: space-between;
}
.navigation div {
    display: flex;
    justify-content: center;
}
.navigation div a.iconLink {
    margin-left: 1.2rem;
    color: #2FA3CF;
    transition: filter 0.1s;
}
.navigation div a.iconLink:hover {
    filter: brightness(0.75);
}
.navigation img {
    height: 1rem;
}
.navLink {
    margin-left: 1.2rem;
    color: #2FA3CF;
    cursor: pointer;
    position: relative;
}
.navLink:hover::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift 0.8s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%232FA3CF' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 6px;
    background-repeat: repeat-x;
    text-decoration: none;
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 4px;
    left: 0;
    pointer-events: none;
}

.head .mobileBack {
    margin-right: 1rem;
    background-color: transparent;
    color: #2FA3CF;
    border-color: transparent;
    box-shadow: none;
}

.head .mobileBack:hover {
    background-color: transparent;
    color: #2FA3CF;
}

.head .headMain {
    display: flex;
    flex-direction: column;
}

.headMain .documentPath {
    font-size: 0.9rem;
    line-height: 1rem;
    color: rgba(0,0,0,0.7);
    height: 0;
    overflow: hidden;
    transition: height 0.15s;
}

.headMain .documentPath.expanded {
    height: 1rem;
}

.documentPathItem {
    cursor: pointer;
}

.documentPathItem:hover {
    color: #2FA3CF;
}