.clean-scrollbar::-webkit-scrollbar {
    border: 0px;
    padding: 0px;
    width: 8px;
    display: block;
    background-color: white;
    border-radius: var(--radius);
    box-shadow: var(--small-shadow);
}

.clean-scrollbar::-webkit-scrollbar-thumb {
    background-color: #2FA3CF;
    border-radius: var(--radius);
}

.clean-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #2fa2cfb9;
}
