.sidebar {
    padding: 0 1.5rem;
    width: 18%;
    flex-shrink: 0;
    /*
    height: 100vh;
    overflow-y: auto;
    position: sticky;
    top: 0;*/
}


@media only screen and (max-width: 1140px) {
    .sidebar {
        width: 22%;
    }
}
@media only screen and (max-width: 950px) {
    .sidebar {
        width: 26%;
    }
}


.filesystemLevel {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.filesystemLevel li {
    margin-bottom: 0.7rem;
    width: calc(100% - 0.7rem - 0.7rem);
    background-color: white;
    padding: 0.7rem;
    box-shadow: var(--small-shadow);
    border-radius: var(--radius);
    cursor: pointer;
    display: flex;
    transition: background-color .05s ease-out;
}
.filesystemLevel li:hover {
    background-color: #f6f8f9;
}
.filesystemLevel li.selected {
    background-color: #e1e9ec;
}

.filesystemLevel li.fsFolder {
    /*
    background-color: transparent;
    box-shadow: none;
    border-radius: var(--radius);
*/
}

.filesystemLevel li .content { 
    flex: 1;
    width: 100%;
}
.filesystemLevel li .content span {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.filesystemLevel li .fsIcon { 
    margin-right: 0.5rem;
}
.filesystemLevel li .date {
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.5);
    display: block;
}
.sidebar .head {
    display: flex;  
    margin: 1.5rem auto 1.5rem auto;
    height: 3rem;
}
.head button.primary {
    flex: 1;
}
.head button.folderSmall {
    margin-left: 5px;
    width: 3rem;
    background-color: transparent;
    border: 1px solid #2FA3CF;
    color: #2FA3CF;
}
.head button.folderSmall:hover, .head .secondary:hover {
    background-color: #2a92ba;
    border-color: #2a92ba;
    color: #edf9ff;
}
.head button {
    height: 100%;
    font-size: 1rem;
    cursor: pointer;
    background-color: #2FA3CF;
    border: none;
    border-radius: var(--radius);
    box-shadow: var(--small-shadow);
    border: 1px solid #2a92ba;
    color: #edf9ff;
    transition: background-color 0.1s ease-out, color 0.1s ease-out;
}
.head .secondary {
    background-color: transparent;
    border: 1px solid #2FA3CF;
    color: #2FA3CF;
    height: 3rem;
    padding: 0 1rem;
}
.head button:hover {
    background-color: #2a92ba;
}

.head button:focus {
    outline: none;
}