[x-tooltip] {
    position: relative;
}
  
[x-tooltip]::after {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    content: attr(x-tooltip);
    font-size: 14px;
    left: 0;
    top: calc(100% + 10px);
    border-radius: 1px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.226);
    background-color: #edf9ff;
    z-index: 10;
    padding: 1px;
    white-space: nowrap;
    width: auto;
    padding: 4px;
    margin-left: -20px;
    transform: translateY(-20px);
    transition: all 150ms cubic-bezier(.25, .8, .25, 1);
}
  
[x-tooltip]:hover::after {
    opacity: 1;
    transform: translateY(0);
    transition-duration: 300ms;
}